body{

font-family:Arial;

background:#f4f4f4;

text-align:center;

}

header{

background:green;

color:white;

padding:20px;

}

nav{

background:#333;

padding:10px;

}

nav a{

color:white;

margin:10px;

text-decoration:none;

}

.banner img{

border-radius:10px;

margin-top:10px;

}

.product{

background:white;

padding:15px;

margin:15px;

display:inline-block;

border-radius:10px;

width:200px;

}

.btn{

background:orange;

padding:10px;

color:white;

text-decoration:none;

}
